
*.bin

bali-android/\.idea/workspace\.xml

bali-android/build/

bali-android/\.idea/

bali-android/\.gradle/4\.1/fileHashes/

*.lock

*.xml

*.properties

bali-android/app/app\.iml

bali-android/\.gradle/4\.1/javaCompile/

bali-android/\.gradle/4\.1/taskHistory/
